<h1>{{this.title}}</h1>
<br>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Comision</th>
            <th>Cuentas</th>
            <th>Clientes</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ExcelData">
            <th>{{data.id}}</th>
            <td>{{data.comision}}</td>
            <td>{{data.cuenta}}</td>
            <td>{{data.cliente}}</td>
            <td>{{data.estado}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
<input accept=".xlsx" (change)="ReadExcel($event)" [(ngModel)]="valor" type="file" placeholder="Seleciona un archivo">

<button (click)="pagar()">Pagar</button>